{% extends 'base.html' %}

{% block titulo %}Produto{% endblock %}

{% block titulo_page %}Formulário de Produto{% endblock %}

{% block conteudo %}  
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.nome.label_tag }}
            {{ form.nome }}
        </div>
        <div class="form-group">
            {{ form.preco.label_tag }}
            {{ form.preco }}
        </div>
        <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
{% endblock %}
